<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="1800 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%-4level] [%d{MM/dd/yyyy HH:mm:ss.SSS}] [%thread] [%logger{36}] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 演習を通して EventSourcedBehavior のログを確認したいため -->
    <logger name="akka.persistence.typed" level="debug" />

    <logger name="example" level="debug"/>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
